# Tập tin lớp tổng hợp
*. class

# Đăng nhập tập tin
* .log

# Tập tin BlueJ
* .ctxt

# Công cụ di động cho Java (J2ME)
.mtj.tmp /

# Tập tin gói #
* .jar
* .war
* .nar
* .ear
* .zip
* .tar.gz
* .rar

# nhật ký sự cố máy ảo, xem http://www.java.com/en/doad/help/error_hotspot.xml
hs_err_pid *
